@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@keyframes fade-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.homepage {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links a {
    font-family: 'Cutive Mono', monospace; /*TODO maybe default font courier instead of cutive mono? */
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove grey selection in safari */
}

.links img {
    position: absolute;
    top: -0.25em;
    right: -1em;
}

.links li:nth-child(2) { animation-delay: 200ms; }
.links li:nth-child(3) { animation-delay: 400ms; }
.links li:nth-child(4) { animation-delay: 600ms; }

.links li {
    opacity: 0;
    transform: translateY(25%);

    animation: fade-in ease-in 200ms;
    animation-fill-mode: forwards;
}

@keyframes extend-width {
    0% {
        width: 0;
    } 100% {
        width: 100%;
    }
}

.links a:hover::after { /*TODO ad animation fade from left to right when hovering (black or yellow)*/
    content: "";
    display: block;
    animation: extend-width 200ms;
    animation-fill-mode: forwards;

    position: absolute;
    bottom: 0;
    height: 50%;
    background: black;
    opacity: 20%;
}

