.link-design {
    font-family: 'Cutive Mono', monospace; /*TODO maybe default font courier instead of cutive mono? */
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove grey selection in safari */
}

.link-design img {
    position: absolute;
    top: -0.25em;
    right: -1em;
}

.link-design::after {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;
    width: 0;
    height: 50%;
    background: black;
    opacity: 20%;
    transition: width 200ms;
}

.link-design:hover::after {
    width: 100%;
}