@supports (scrollbar-gutter: stable) {
    .project-overview {
      overflow-y: auto;
      scrollbar-gutter: stable;
    }
}

.title-image > * {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 95%;
    max-width: 70rem;
    height: auto;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 20px 10px #00000020;
}

.title-image {
    text-decoration: none;
}

@keyframes slide {
    0% {
        background-position: right;
    } 100% {
        background-position: left;
    }
}

.title-image img {
    color: transparent; /* prevent alt text from showing up */
    animation: slide 1s infinite linear;
    background: linear-gradient(-50deg, white 49%, #00000007 49%, #00000007 52%, white 52%);
    background-size: 300%;
}

.click-info {
    font-family: 'Courier New', monospace;
    display: block;
    font-style: italic;
    margin: 1em auto;
    width: max-content;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

.loading-circle {
    margin: 0 auto;
    border: 0.25rem solid black;
    border-bottom: 0.2rem solid transparent;
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
    animation: spinning 2s infinite linear;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}